body{
    background-color:orange;
    opacity: 0.8;
}

#title{
    box-sizing: border-box;
    padding: 5px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
    border-style: solid;
    border-color: rgb(54, 50, 43);   
    border-width:10px;
    background-color: rgb(226, 151, 12);
    color: rgb(16, 59, 104);
    text-align: center;
    font-size: 48px;
    width: 1000px;
}
